/* container 영역 CSS */

#container {
    min-width: 0 !important;
    padding: 0;
    position: relative;
    width: 100%;
    zoom: 1;
    margin: 0 auto;
}

#container #contents {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none;
}

#container img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1599px) {
    .main_content {
        width: 1280px;
    }
    .ec-base-product .prdList>li .box {
        width: 235px;
    }
}

.main_content {
    margin: 0 auto;
    padding-left: 5%;
}

.main_title {
    text-align: center;
    margin: 90px auto 30px;
    font-size: 0px;
}

.title_t {
    color: #111;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.300em;
    padding-bottom: 40px;
}

.tabcontent.current {
    display: block;
}

.tabcontent {
    display: none;
    padding: 0px;
    position: relative;
}

.tabcontent .swiper-wrapper {
    margin-bottom: 68px !important;
}

.tabcontent .swiper-scrollbar {
    left: 0px !important;
    bottom: 0px !important;
    height: 1px !important;
    width: 100% !important;
}

.tabcontent .swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 1);
    border-radius: 0px;
}

.ec-base-product {
    margin: 0;
}

.ec-base-product .prdList {
    width: 100%;
    min-width: 100%;
    margin: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
}

.ec-base-product .prdList>li {
    display: inline-block;
    position: relative;
    height: auto;
    margin: 0;
    color: #757575;
    vertical-align: top;
}

.ec-base-product .prdList>li .box {
    margin-bottom: 0px;
    padding: 0;
}

.ec-base-product .prdList .thumbnail {
    position: relative;
    margin: 0 auto;
    text-align: left;
}

.ec-base-product .prdList .thumbnail .prdImg {
    position: relative;
}

.ec-base-product .prdList .thumbnail .prdImg a img {
    max-width: 100%;
    border: 0;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

.ec-base-product img {
    vertical-align: middle;
}

.ec-base-product .prdList .description {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
}

.ec-base-product .prdList .description .name {
    padding-top: 20px;
    padding-right: 5%;
    font-size: 15px;
    font-weight: 300;
    color: #111;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
}

.ec-base-product .prdList .description .name a {
    color: #2e2e2e;
}

.ec-base-product #prdDetail {
    height: auto;
    margin-bottom: 50px;
}

.ec-base-product #prdDetail li {
    display: block;
    text-align: center;
    font-size: x-large;
    color: #111;
    margin-bottom: 30px;
}

.ec-base-product #prdDetail li#DetailTop {
    font-size: large;
    color: firebrick;
    margin-top: 100px;
}

.ec-base-product #prdDetail li#DetailMiddle {
    font-size: large;
    color: sandybrown;
    margin-top: 30px;
}

.ec-base-product #prdDetail li#DetailBottom {
    font-size: large;
    color: royalblue;
    margin-top: 30px;
}

.ec-base-product #prdDetail img {
    width: 200px;
    height: 200px;
}

.ec-base-product .spec {
    margin: 0;
}

.ec-base-product .spec li {
    text-align: left;
}

.ec-base-product .spec li[rel="계열"] {
    padding-top: 8px;
    font-weight: 300;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    z-index: 50;
}

#DetailTop figure {
    width: auto;
    height: 30px;
    margin: 0 5px;
}

#DetailMiddle figure {
    width: auto;
    height: 30px;
    margin: 0 5px;
}

#DetailBottom figure {
    width: auto;
    height: 30px;
    margin: 0 5px;
}

#prdDetail div#Detail {
    text-align: left;
}