/* 헤더 섹터1 css */

#header .sector1 {
    position: relative;
    margin: 47px 0px 20px;
    transition: all 0.3s;
}

#header .sector1 .banner_logo {
    text-align: center;
}

#header .sector1 .left_menu {
    position: absolute;
    right: 100px;
    top: 0px;
}

#header .sector1 .right_menu {
    position: absolute;
    right: 100px;
    top: 0px;
}

#header .sector1 .search_menu {
    font-size: 0px;
    float: left;
    margin-left: 30px;
}

#header .sector1 .search_menu li {
    float: left;
}