/* 헤더(최상단) css */

#header {
    position: static;
    margin: 0;
    border: none;
    margin-bottom: 80px;
}

#header .inner {
    position: relative;
    width: 1218px;
    margin: 0 auto;
    *zoom: 1;
    padding: 0;
}